@{
    ViewData["Title"] = "About Page";
}
<div class="wrapper">
    <div class="marker-font" style="padding-bottom: 50px;">
        <h2>A bit about me...</h2>
    </div>


    <div class="col-sm-12 marker-font">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Egestas dui id ornare arcu odio. Tincidunt id aliquet risus feugiat in ante metus.
            In massa tempor nec feugiat nisl pretium fusce. Arcu non sodales neque sodales ut etiam.
            Facilisis sed odio morbi quis commodo odio aenean sed. Ac felis donec et odio pellentesque.
            Amet risus nullam eget felis.
            Amet consectetur adipiscing elit ut aliquam.
            Felis eget velit aliquet sagittis id consectetur purus ut faucibus.
            Sit amet consectetur adipiscing elit. Semper feugiat nibh sed pulvinar proin gravida.
            Diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus. Tincidunt ornare massa eget egestas.
        </p>
        <p>
            Gravida in fermentum et sollicitudin. Feugiat in fermentum posuere urna nec tincidunt.
            Diam maecenas ultricies mi eget mauris. Quis lectus nulla at volutpat diam ut.
            Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
            Aliquam ultrices sagittis orci a scelerisque purus semper eget duis.
            Neque convallis a cras semper auctor neque vitae.
            Fermentum odio eu feugiat pretium nibh.
            Id semper risus in hendrerit gravida rutrum quisque non tellus.
            Nibh venenatis cras sed felis. Nisi scelerisque eu ultrices vitae auctor eu augue ut.
        </p>
    </div>
</div>
