@{
    ViewData["Title"] = "About Page";
}
<div class="wrapper">
    <div class="marker-font">
        <h2 class="title-lines">A bit about me...</h2>
    </div>

    <div class="col-sm-12 montserrat-font" id="align-aboutme-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Egestas dui id ornare arcu odio. Tincidunt id aliquet risus feugiat in ante metus.
            In massa tempor nec feugiat nisl pretium fusce. Arcu non sodales neque sodales ut etiam.
            Facilisis sed odio morbi quis commodo odio aenean sed. Ac felis donec et odio pellentesque.
            Amet risus nullam eget felis.
            Amet consectetur adipiscing elit ut aliquam.
            Felis eget velit aliquet sagittis id consectetur purus ut faucibus.
            Sit amet consectetur adipiscing elit. Semper feugiat nibh sed pulvinar proin gravida.
            Diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus. Tincidunt ornare massa eget egestas.
        </p>
    </div>

    <div class="about-me-pictures">
        <div>
            <img src="/images/computer.jpg" alt="Computer Station" style="transform:rotate(5deg); border-radius: 2%; width:100%;"/>
        </div>
        <div>
            <img src="/images/boat.jpg" alt="Boat" style="border-radius: 2%; width:100%;"/>
        </div>
        <div>
            <img src="/images/Egypt.jpg" alt="Egypt" style="transform:rotate(5deg); border-radius: 2%; width:100%;"/>
        </div>
    </div>
</div>
