@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="bg-white rounded hero-text marker-font solid-border">
        <h1>Kyle Follendorf</h1>
        <h3>Software Engineer</h3>
        <i class="fas fa-long-arrow-alt-right"></i>
            <a href="https://drive.google.com/file/d/1lDBmhEzGvtm74fp1YqgjOdwAmHaL8haa/view?usp=sharing" target="_blank">Curriculum Vitae</a>
        <i class="fas fa-long-arrow-alt-left"></i>
    </div>
</div>