@{
    ViewData["Title"] = "Projects Page";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded">
            Picture <br>
            Picture <br>
            Picture
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded">
            TITLE <a href="#">Link To Code</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded">
            Picture <br>
            Picture <br>
            Picture
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded">
            TITLE <a href="#">Link To Code</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded" style="background-color:orange;">
            Picture <br>
            Picture <br>
            Picture
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded" style="background-color:yellow;">
            TITLE <a href="#">Link To Code</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
</div>
