@{
    ViewData["Title"] = "Projects Page";
}
<div class="marker-font">
    <h2 class="title-lines">My Projects...</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-dark rounded">
            <img src="/images/spacelowre.png" alt="SpaceLow Game" class="project-pictures"/>
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded montserrat-font">
            <a href="https://kfollen.itch.io/spacelow" target="_blank">
                <i class="fab fa-itch-io project-icons"></i>
            </a>
            <a href="https://github.com/Kfollen93/SpaceLow" target="_blank">
                <i class="fas fa-file-code project-icons" ></i>
            </a>

            <ul>
                <li>
                    A third-person, action-adventure, low-poly, space game.
                </li>
                <li>
                    Developed using C# and the Unity game engine.
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-dark rounded">
            <p>Picture</p>
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded montserrat-font">
            TITLE <a href="#">Link To Code</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-dark rounded">
            <p>Picture</p>
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded montserrat-font">
            TITLE <a href="#">Link To Code</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
</div>
