@{
    ViewData["Title"] = "Projects Page";
}
<div class="marker-font" style="padding-bottom: 50px;">
     <h2>My Projects...</h2>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded">
            <p>Picture</p>
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded montserrat-font">
            <a href="https://kfollen.itch.io/spacelow" class="btn btn-outline-primary" role="button" aria-pressed="true">SpaceLow</a>
            <a href="https://github.com/Kfollen93/SpaceLow" class="btn btn-outline-success" role="button" aria-pressed="true">Code</a>
            <ul>
                <li>
                    A third-person, action-adventure, low-poly, space game.
                </li>
                <li>
                    Developed using C# and the Unity game engine.
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded">
            <p>Picture</p>
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded montserrat-font">
            TITLE <a href="#">Link To Code</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded">
            <p>Picture</p>
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded montserrat-font">
            TITLE <a href="#">Link To Code</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
</div>
