@{
    ViewData["Title"] = "About Page";
}
<div class="wrapper">
    <div class="marker-font">
        <h2 class="title-lines">A bit about me...</h2>
    </div>

    <div class="col-sm-12 shadow p-3 mb-5 bg-white rounded montserrat-font solid-border" id="align-aboutme-text">
        <p>
            I am a self-taught software engineer seeking the opportunity for continued development of a well-rounded skill set based on object-oriented programming and clean code principles within a team environment.
        </p>

        <p>
            I graduated from the University of Washington with a BA in Law, Societies, and Justice. I later added to that with a Paralegal Certificate,
            also from the UW. After working for years in the legal field while researching other career paths, I found my true passion lies within software engineering.
        </p>

        <p>
            Being able to apply logic through code and solve problems no matter what the challenges are is what drives me.
            I am familiar with C#, SQL (MySQL/PostgreSQL), Ruby on Rails, JavaScript, HTML, CSS, JSON, and the Agile software development life cycle.
        </p>

        <p>
            Reach out to me on <a href="https://www.linkedin.com/in/kyle-follendorf-11036b199/" target="_blank"><b>LinkedIn</b></a> if you would like to connect, or you can view all of my projects on <a href="https://github.com/Kfollen93" target="_blank"><b>GitHub</b></a>.
        </p>
    </div>
    
    <div class="about-me-pictures">
        <div>
            <img src="/images/computer.jpg" alt="Computer Station" style="transform:rotate(5deg); border-radius: 2%; width:100%;" />
        </div>
        <div>
            <img src="/images/boat.jpg" alt="Boat" style="border-radius: 2%; width:100%;" />
        </div>
        <div>
            <img src="/images/Egypt.jpg" alt="Egypt" style="transform:rotate(5deg); border-radius: 2%; width:100%;" />
        </div>
    </div>
</div>
