@{
    ViewData["Title"] = "About Page";
}
<div class="wrapper">
    <div class="marker-font">
        <h2 class="title-lines">A bit about me...</h2>
    </div>

    <div class="col-sm-12 shadow p-3 mb-5 bg-white rounded montserrat-font solid-border" id="align-aboutme-text">
        <p>
            Just before the pandemic hit I chose to leave what I thought would be my last legal position to study developing software full time.
            I started with an open-source course known as <a href="https://www.theodinproject.com/" target="_blank"><b>The Odin Project</b></a> (TOP).
            After nearly a year of studying, my old law firm reached out to me with a remote offer as a paralegal.
        </p>

        <p>
            Having a paycheck coming in each month allowed me to figure out what I really wanted.
            I had this new-found passion for programming, and I have always been interested in how video games work.
            I tried using <a href="https://unity.com/" target="_blank"><b>Unity</b></a> in the past, but I did not make it far.
            However, now with the background of TOP, I was able to transfer the fundamentals of programming that I had learned to C#.
            What once looked like a foreign language, now had patterns I could recognize.
        </p>

        <p>
            While I am a full time paralegal, I dedicate blocks of time every day to learning more C# and object-oriented programming in general.
            I am interested in game development as a programmer, but I also like having a well-rounded skill set.
            Therefore, I am continuing to build C# projects outside of Unity, such as this website (<a href="https://github.com/Kfollen93/WebPortfolio" target="_blank"><b>source code</b></a>).
        </p>
    </div>

    <div class="about-me-pictures">
        <div>
            <img src="/images/computer.jpg" alt="Computer Station" style="transform:rotate(5deg); border-radius: 2%; width:100%;"/>
        </div>
        <div>
            <img src="/images/boat.jpg" alt="Boat" style="border-radius: 2%; width:100%;"/>
        </div>
        <div>
            <img src="/images/Egypt.jpg" alt="Egypt" style="transform:rotate(5deg); border-radius: 2%; width:100%;"/>
        </div>
    </div>
</div>
