@{
    ViewData["Title"] = "Projects Page";
}
<div class="marker-font">
    <h2 class="title-lines">My Projects...</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-dark rounded solid-border">
            <img src="/images/spacelowre.png" alt="SpaceLow Game" class="project-pictures" />
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded solid-border montserrat-font">
            <a href="https://kfollen.itch.io/spacelow" target="_blank">
                <i class="fab fa-itch-io project-icons"></i>
            </a>
            <a href="https://github.com/Kfollen93/SpaceLow" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>

            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>

            <b>SpaceLow</b>
            <ul id="list">
                <li>
                    A third-person, action-adventure, low-poly, space game (C# and Unity 3D).
                </li>
                <li>
                    Emphasis on decoupling patterns and reusable code.
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-dark rounded solid-border">
            <img src="/images/SmallWoods.PNG" alt="The Lone Woods Game" class="project-pictures" />
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded solid-border montserrat-font">
            <a href="https://kfollen.itch.io/the-lone-woods" target="_blank">
                <i class="fab fa-itch-io project-icons"></i>
            </a>
            <a href="https://github.com/Kfollen93/The-Lone-Woods" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>

            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>

            <b>The Lone Woods</b>
            <ul id="list">
                <li>
                    A game about a traveler who finds a home within the forests (C# and Unity 3D).
                </li>
                <li>
                    Focus on scriptable objects to hold data related to dialogue and quests.
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 shadow p-3 mb-5 bg-dark rounded solid-border">
            <img src="/images/Web.PNG" alt="Kyle's Website" class="project-pictures" />
        </div>

        <div class="col-sm-1">
            <!-- Middle column space -->
        </div>

        <div class="col-sm-5 shadow p-3 mb-5 bg-white rounded solid-border montserrat-font">
            <a href="https://github.com/Kfollen93/WebPortfolio" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>

            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>

            <b>Website Portfolio</b>
            <ul id="list">
                <li>
                    Hosted as an App Service on Microsoft's Azure cloud program.
                </li>
                <li>
                    Developed using .NET Core (MVC) template through Visual Studio.
                </li>
            </ul>
        </div>
    </div>




    <!-- UNITY PROJECTS BELOW -->
    <div class="marker-font">
        <h2 class="title-lines"><u>Unity 3D Projects</u></h2>
    </div>

    <div class="row">
        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/spacelowre.png" alt="SpaceLow Game" class="project-pictures" /> <!-- Picture -->
        </div>

        <div class="col-sm-1"><!-- Middle column space --></div>

        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://kfollen.itch.io/spacelow" target="_blank">
                <i class="fab fa-itch-io project-icons"></i>
            </a>
            <a href="https://github.com/Kfollen93/SpaceLow" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>

            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"></span> <!-- Project icons underline -->
            </p>

            <b>SpaceLow</b>
            <ul id="list">
                <li>
                    A third-person, action-adventure, low-poly, space game (C# and Unity 3D).
                </li>
                <li>
                    Emphasis on decoupling patterns and reusable code.
                </li>
            </ul>
        </div>

        <div class="w-100"></div> <!-- Width for Rows-->

        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/SmallWoods.PNG" alt="The Lone Woods Game" class="project-pictures" /> <!-- Picture -->
        </div>

        <div class="col-sm-1"><!-- Middle column space --></div>

        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://kfollen.itch.io/the-lone-woods" target="_blank">
                <i class="fab fa-itch-io project-icons"></i>
            </a>
            <a href="https://github.com/Kfollen93/The-Lone-Woods" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>

            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>

            <b>The Lone Woods</b>
            <ul id="list">
                <li>
                    A game about a traveler who finds a home within the forests (C# and Unity 3D).
                </li>
                <li>
                    Focus on scriptable objects to hold data related to dialogue and quests.
                </li>
            </ul>
        </div>
    </div>

    <!-- C# APPLICATIONS BELOW -->
    <div class="marker-font">
        <h2 class="title-lines"><u>C# Applications</u></h2>
    </div>

    <div class="row">
        <div class="w-100"></div> <!-- Width for Rows-->
        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/SmallWoods.PNG" alt="The Lone Woods Game" class="project-pictures" /> <!-- Picture -->
        </div>

        <div class="col-sm-1"><!-- Middle column space --></div>

        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://github.com/Kfollen93/Converter" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>

            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>

            <b>Converter App</b>
            <ul id="list">
                <li>
                    A conversion application including Metric/US Imperial conversions of weight, temperature, speed, length, volume, and distance (Windows Forms .NET 5.0).
                </li>
                <li>
                    Developed as a personal request from my girlfriend who is a German citizen, now living in the US.
                </li>
            </ul>
        </div>
    </div>

    <!-- WEBSITES AND EXTRAS BELOW-->
    <div class="marker-font">
        <h2 class="title-lines"><u>Websites + Extras</u></h2>
    </div>

    <div class="row">
        <div class="w-100"></div> <!-- Width for Rows-->
        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/Web.PNG" alt="Kyle's Website" class="project-pictures"/> <!-- Picture -->
        </div>

        <div class="col-sm-1"><!-- Middle column space --></div>

        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://github.com/Kfollen93/WebPortfolio" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>

            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>

            <b>Website Portfolio</b>
            <ul id="list">
                <li>
                    Hosted as an App Service on Microsoft's Azure cloud program.
                </li>
                <li>
                    Developed using .NET Core (MVC) template through Visual Studio.
                </li>
            </ul>
        </div>
    </div>

</div>
