@{
    ViewData["Title"] = "Projects Page";
}

<div class="container-fluid">
    <!-- UNITY PROJECTS BELOW -->
    <div class="marker-font">
        <h2 class="title-lines"><u>Unity 3D Projects</u></h2>
    </div>
    <div class="row">
        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/spacelowre.png" alt="SpaceLow Game" class="project-pictures" /> <!-- Picture -->
        </div>
        <div class="col-sm-1"><!-- Middle column space --></div>
        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://kfollen.itch.io/spacelow" target="_blank">
                <i class="fab fa-itch-io project-icons"></i>
            </a>
            <a href="https://github.com/Kfollen93/SpaceLow" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>
            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"></span> <!-- Project icons underline -->
            </p>
            <b>SpaceLow | (C# & Unity 3D)</b>
            <ul id="list">
                <li>
                    A third-person, action-adventure, low-poly, space game.
                </li>
                <li>
                    Highlights include an events system to trigger enemy waves and an enemy AI class with several different states.
                </li>
                <li>
                    Learned project collaboration from pre-production to production while working with a teammate.
                </li>
            </ul>
        </div>
        <div class="w-100"></div> <!-- Width for Rows-->

        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/SmallWoods.PNG" alt="The Lone Woods Game" class="project-pictures" /> <!-- Picture -->
        </div>
        <div class="col-sm-1"><!-- Middle column space --></div>
        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://kfollen.itch.io/the-lone-woods" target="_blank">
                <i class="fab fa-itch-io project-icons"></i>
            </a>
            <a href="https://github.com/Kfollen93/The-Lone-Woods" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>
            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>
            <b>The Lone Woods | (C# & Unity 3D)</b>
            <ul id="list">
                <li>
                    A game about a traveler who finds a home within a forest.
                </li>
                <li>
                    Focus on scriptable objects to hold data related to dialogue and quests in order to make a scaleable system.
                </li>
                <li>
                    Varied implementations of Raycasts for each weapon type.
                </li>
            </ul>
        </div>
    </div>

    <!-- C# APPLICATIONS BELOW -->
    <div class="marker-font">
        <h2 class="title-lines"><u>C# Applications</u></h2>
    </div>
    <div class="row">
        <div class="w-100"></div> <!-- Width for Rows-->
        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/Converter.png" alt="Converter App" class="project-pictures" /> <!-- Picture -->
        </div>
        <div class="col-sm-1"><!-- Middle column space --></div>
        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://github.com/Kfollen93/Converter" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>
            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>
            <b>Converter App | (Windows Forms .NET 5.0)</b>
            <ul id="list">
                <li>
                    A conversion application including Metric/US Imperial conversions.
                </li>
                <li>
                    Developed as a request from a German citizen who has recently moved to the US.
                </li>
            </ul>
        </div>
    </div>
    <div class="w-100"></div> <!-- Width for Rows-->

    <div class="row">
        <div class="w-100"></div> <!-- Width for Rows-->
        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/AlgoVisualizer.png" alt="Algorithm Visualizer" class="project-pictures" /> <!-- Picture -->
        </div>
        <div class="col-sm-1"><!-- Middle column space --></div>
        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://github.com/Kfollen93/Algorithm-Visualizer" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>
            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>
            <b>Algorithm Visualizer | (Windows Forms .NET Framework)</b>
            <ul id="list">
                <li>
                    A mini-project visualizing how the Bubble Sort algorithm works.
                </li>
                <li>
                    Developed as an introduction to using Windows Forms while practicing algorithms.
                </li>
            </ul>
        </div>
    </div>
    <!-- WEBSITES -->
    <div class="marker-font">
        <h2 class="title-lines"><u>Websites</u></h2>
    </div>
    <div class="row">
        <div class="w-100"></div> <!-- Width for Rows-->
        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/Web.png" alt="Kyle's Website" class="project-pictures" /> <!-- Picture -->
        </div>
        <div class="col-sm-1"><!-- Middle column space --></div>
        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://github.com/Kfollen93/WebPortfolio" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>
            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>
            <b>Website Portfolio | (C#, HTML, CSS, & JavaScript)</b>
            <ul id="list">
                <li>
                    Hosted as an App Service on Microsoft's Azure cloud program.
                </li>
                <li>
                    Developed using .NET Core (MVC) template through Visual Studio.
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="w-100"></div> <!-- Width for Rows-->
        <div class="col shadow p-3 mb-3 bg-dark rounded solid-border">
            <img src="/images/FlightBooker.png" alt="Flight Booker Website" class="project-pictures" /> <!-- Picture -->
        </div>
        <div class="col-sm-1"><!-- Middle column space --></div>
        <div class="col shadow p-3 mb-3 bg-white rounded solid-border montserrat-font">
            <a href="https://obscure-temple-39720.herokuapp.com/" target="_blank">
                <i class="far fa-window-maximize project-icons"></i>
            </a>
            <a href="https://github.com/Kfollen93/flight-booker" target="_blank">
                <i class="fas fa-file-code project-icons"></i>
            </a>
            <p id="underline-project-icons">
                <span style="display: table-cell; border-bottom: 3px solid black;"> <!-- Project icons underline --></span>
            </p>
            <b>Flight Booker | (Ruby on Rails, HTML, & CSS)</b>
            <ul id="list">
                <li>
                    Search, view, and book flights using seeded data.
                </li>
                <li>
                    Further exposure to using advanced forms and nested attributes.
                </li>
                <li>
                    Deployed and hosted live on Heroku.
                </li>
            </ul>
        </div>
    </div>

    <!-- GitHub Link -->
    <div class="marker-font">
        <p style="text-align: center" class="title-lines" id="github-padding"><a href="https://github.com/Kfollen93" target="_blank">&#8594; More projects located on my GitHub &#8592;</a></p>
    </div>
</div>
